manifest {
    homePage = 'http://github.com/skptic/tuxedo-nf'
    description = 'Nextflow Implementation of Tuxedo Suite'
    mainScript = 'tuxedo.nf'
}

process {
  $multiqc.container = 'quay.io/biocontainers/multiqc:1.0--py35_4'
}

//
// Parameters Configuration - These settings specify parameters and
//                            can thus can have an effect on the results

includeConfig "$baseDir/configs/sra_demo.config"


//
// Profile Configuration - These setting are location/harware specific and
//                         should not have any effect on the results

profiles {
    crg { includeConfig "$baseDir/configs/loc_crg.config" }
}


