manifest {
    homePage = 'http://github.com/cbcrg/tuxedo-nf'
    description = 'Nextflow Implementation of Tuxedo Suite'
    mainScript = 'tuxedo.nf'
}


//
// Parameters Configuration - These settings specify parameters and
//                            can thus can have an effect on the results

includeConfig 'params_default.config'


//
// Profile Configuration - These setting are location/harware specific and
//                         should not have any effect on the results

profiles {
    crg { includeConfig 'loc_crg.config' }
}
