params { 

    // input sequences [FASTQ or FASTQ.GZ]
    reads ='example-data/reads/ERR*_chrX_{1,2}.fastq.gz'

    // genome [FASTA or http|ftp://**/*.fa.gz]
    genome = "$baseDir/example-data/genome/chrX.fa"
    genome_address = "ftp://ftp.ensembl.org/pub/release-86/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.gz"

    // genome index [HISAT2 INDEX]
    index = "$baseDir/example-data/index/genome_index"

    // annotation [GTF]
    annotation = "$baseDir/example-data/annotation/hg38_chrX_ucsc.annotated.gtf" 
    annotation_address = "ftp://ftp.ensembl.org/pub/release-86/gtf/homo_sapiens/Homo_sapiens.GRCh38.86.gtf.gz"

    // phenotype data [CSV]
    pheno = "$baseDir/example-data/pheno/pheno_data.csv"

    // create genome index during run, otherwise index must be provided [BOOLEAN]
    run_index = true

    // Use SRA [BOOLEAN]
    use_sra = true

    // Download genome [BOOLEAN]
    download_genome = true

    // Download annotation [BOOLEAN]
    download_annotation = true

    // UCSC annotation [BOOLEAN]
    UCSC_annotation = false

    // SRA IDs
    sra_ids = "ERR188044,ERR188104,ERR188234,ERR188245,ERR188257,ERR188273,ERR188337,ERR188383,ERR188401,ERR188428,ERR188454,ERR204916"

    // output directory [DIR]
    output = "$baseDir/results/"

    // cache
    cache = "$baseDir/cache"
    use_ncbi_cache = true

} 

docker {
    enabled = true
    runOptions = "-v $baseDir/cache/ncbi:/ncbi_site"
}

process {
    container = 'cbcrg/tuxedo-nf@sha256:e9bc1b3d648431591c328ee0dfd297b5315f9bef659f377606ff0fbfbd81c5e5'
    publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true' ]
} 
