params { 

    // input sequences [FASTQ or FASTQ.GZ]
    reads ='example-data/reads/ERR*_chrX_{1,2}.fastq.gz'

    // genome [FASTA]
    genome = "$baseDir/example-data/genome/chrX.fa"

    // genome index [HISAT2 INDEX]
    index = "$baseDir/example-data/index/genome_index"

    // annotation [GTF]
    annotation = "$baseDir/example-data/annotation/hg38_chrX_ucsc.annotated.gtf"

    // phenotype data [CSV]
    pheno = "$baseDir/example-data/pheno/pheno_data.csv"

    // create genome index during run, otherwise index must be provided [BOOLEAN]
    run_index = false

    // Use SRA
    use_sra = true

    // SRA IDs
    sra_ids = "SRR390728,SRR390729,SRR390730"

    // output directory [DIR]
    output = "$baseDir/results/"

    // NCBI cache
    ncbi_cache = "$baseDir/results/ncbi"
    use_ncbi_cache = true

} 

docker {
    enabled = true
    runOptions = "-v $baseDir/results/ncbi:/ncbi_site"
}

process {
    container = 'cbcrg/tuxedo-nf@sha256:d2581cbfac652e7640413dcf093f75aa8894d785240dc0624bb665ecd07a136e'
    publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true' ]
} 
