params { 

    // input sequences [FASTQ or FASTQ.GZ]
    reads ='example-data/reads/ERR*_chrX_{1,2}.fastq.gz'

    // genome [FASTA]
    genome = "$baseDir/example-data/genome/chrX.fa"

    // genome index [HISAT2 INDEX]
    index = "$baseDir/example-data/index/genome_index"

    // annotation [GTF]
    annotation = "$baseDir/example-data/annotation/hg38_chrX_ucsc.annotated.gtf"

    // create genome index during run, otherwise index must be provided [BOOLEAN]
    run_index = false

    // output directory [DIR]
    output = "$baseDir/results/"

} 

docker {
    enabled = true
    fixOwnership = true
}

process {
    container = 'cbcrg/tuxedo-nf@sha256:ec1d27f97f691ce8862eeedc627aec96cd52d2ad693acad78cc52aae4378d180'
    publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true']
} 
