process {
    executor = 'crg'
    queue = { task.attempt < 4 ? 'cn-el7' : task.attempt <  7 ? 'long-sl7' : 'mem512' }
    memory = { task.attempt < 4 ? (12.GB * task.attempt) : task.attempt <  7 ? (18.GB * task.attempt) : 256.GB }
    errorStrategy = { task.attempt < 7 ? 'retry' : 'finish' } 
    maxRetries = 6
    scratch = true  // for docker use
    time = '12h'
}
