params { 

    // input sequences [FASTQ or FASTQ.GZ]
    reads = "$baseDir/example-data/reads/*_read{1,2}.fastq.gz"

    // genome or genome address[FASTA or http|ftp://**/*.fa.gz]
    genome = "$baseDir/example-data/genome/chrX_reduced.fa"
    genome_address = "ftp://ftp.ensembl.org/pub/release-86/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.gz"

    // genome index [HISAT2 INDEX]
    index = "$baseDir/example-data/index/chrX_reduced"

    // annotation [GTF]
    annotation = "$baseDir/example-data/annotation/hg38_chrX_ucsc.annotated.gtf" 
    annotation_address = "ftp://ftp.ensembl.org/pub/release-86/gtf/homo_sapiens/Homo_sapiens.GRCh38.86.gtf.gz"

    // phenotype data [CSV] (LINKS SAMPLES TO CONDITIONS FOR DE TESTING)
    pheno = "$baseDir/example-data/pheno/exp_info.txt" 

    // create genome index during run, otherwise index must be provided [BOOLEAN]
    run_index = true

    // Use SRA [BOOLEAN]
    use_sra = true

    // Download genome [BOOLEAN]
    download_genome = true

    // Download annotation [BOOLEAN]
    download_annotation = true

    // UCSC annotation [BOOLEAN]
    UCSC_annotation = false

    // SRA IDs (IF use_sra == true)
    sra_ids = "ERR188454,ERR188383,ERR188273,ERR188428"

    // Run Ballgown
    ballgown = false

    // output directory [DIR]
    output = "$baseDir/results"

    // NCBI SRA Cache Location
    cache = "$baseDir/cache"

    // MultiQC Location
    multiqc = "$baseDir/multiqc"

} 

docker {
    enabled = true
    runOptions = "-v $baseDir/cache/ncbi:/ncbi_site"
}

process {
    container = 'cbcrg/tuxedo-nf@sha256:99e841dd52865bd4ffd42ef452ba24fe06188a4874c97f62b0e8633767da93e0'
} 
